<div
  *ngIf="loading; else elseTemplate"
  class="h-full flex justify-center items-center"
>
  <mat-spinner></mat-spinner>
</div>

<ng-template #elseTemplate>
  <button (click)="addStudent()" mat-flat-button color="primary" class="mb-2">
    Agregar alumno
  </button>

  <div class="relative overflow-auto">
    <table
      mat-table
      [dataSource]="students"
      class="w-full bg-white dark:bg-gray-700"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          Id.
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="dark:text-gray-400 transition-colors"
        >
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          Nombre
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="dark:text-gray-400 transition-colors"
        >
          {{ element.firstName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          Apellido
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="dark:text-gray-400 transition-colors"
        >
          {{ element.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dni">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          DNI
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="dark:text-gray-400 transition-colors"
        >
          {{ element.dni }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          Está activo
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="dark:text-gray-400 transition-colors"
        >
          {{ element.isActive | active }}
        </td>
      </ng-container>

      <ng-container matColumnDef="viewDetail">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          Ver detalle
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="dark:text-gray-400 transition-colors"
        >
          <a mat-icon-button color="primary" [routerLink]="element.id">
            <mat-icon>visibility</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="viewCommissionHistory">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          Ver historial de comisiones
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="dark:text-gray-400 transition-colors"
        >
          <a
            mat-icon-button
            color="primary"
            [routerLink]="element.id + '/commissions-history'"
          >
            <mat-icon>visibility</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          Editar
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="editStudent(element)"
            mat-icon-button
            color="primary"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Edit icon"
              fontIcon="edit"
            ></mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="dark:text-gray-400 transition-colors"
        >
          Eliminar
        </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="removeStudent(element)" mat-icon-button color="warn">
            <mat-icon
              aria-hidden="false"
              aria-label="Delete icon"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="h-10" *matNoDataRow>
        <td class="pl-4 dark:text-gray-400" colspan="4">Sin alumnos</td>
      </tr>
    </table>
  </div>
</ng-template>
