<h1
  mat-dialog-title
  appTitle
  class="dark:text-gray-300 dark:bg-gray-800 m-0 pb-4"
>
  {{ title }}
</h1>
<div mat-dialog-content class="dark:text-gray-400 dark:bg-gray-800">
  <form class="flex flex-col w-60 md:w-96 py-2" [formGroup]="courseForm">
    <div class="mb-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="dark:text-gray-400">Título</mat-label>
        <input
          [formControl]="titleControl"
          matInput
          placeholder="Ex. JavaScript"
          class="dark:text-gray-400 dark:placeholder:text-gray-500"
        />
        <mat-error *ngIf="titleControl.getError('required')">
          Título es requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="dark:text-gray-400">Categoría</mat-label>
        <input
          [formControl]="categoryControl"
          matInput
          placeholder="Ex. Programación"
          class="dark:text-gray-400 dark:placeholder:text-gray-500"
        />
        <mat-error *ngIf="categoryControl.getError('required')">
          Categoría es requerida
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="dark:text-gray-400">Precio</mat-label>
        <input
          type="number"
          [formControl]="priceControl"
          matInput
          placeholder="Ex. 100"
          class="dark:text-gray-400 dark:placeholder:text-gray-500 text-right"
        />
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
        <mat-error *ngIf="priceControl.getError('required')">
          Precio es requerido
        </mat-error>
        <mat-error *ngIf="priceControl.getError('pattern')">
          Precio tiene que ser un valor númerico
        </mat-error>
        <mat-error *ngIf="priceControl.getError('min')">
          Precio tiene que ser mayor o igual a 0
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions class="flex justify-center -mt-4 pb-8 dark:bg-gray-800">
  <button mat-button (click)="close()" class="dark:text-gray-300">
    Cancelar
  </button>
  <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>
    Guardar
  </button>
</div>
