<button (click)="addInscription()" mat-flat-button color="primary" class="mb-2">
  Agregar inscripción
</button>

<div class="relative overflow-auto">
  <table
    mat-table
    [dataSource]="(this.inscriptionsService.inscriptions$ | async) ?? []"
    class="w-full bg-white dark:bg-gray-700"
  >
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="dark:text-gray-400 transition-colors"
      >
        No.
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="dark:text-gray-400 transition-colors"
      >
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="course">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="dark:text-gray-400 transition-colors"
      >
        Curso
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="dark:text-gray-400 transition-colors"
      >
        {{ element.course.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="students">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="dark:text-gray-400 transition-colors"
      >
        Alumnos
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="dark:text-gray-400 transition-colors"
      >
        <a
          mat-button
          color="primary"
          [routerLink]="element.id + '/students'"
          class="dark:text-gray-400"
        >
          Ver alumnos inscriptos
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="dark:text-gray-400 transition-colors"
      >
        Editar
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="editInscription(element)"
          mat-icon-button
          color="primary"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Edit icon"
            fontIcon="edit"
          ></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="dark:text-gray-400 transition-colors"
      >
        Eliminar
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="deleteInscription(element.id)"
          mat-icon-button
          color="warn"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Delete icon"
            fontIcon="delete"
          ></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
