<header>
  <mat-toolbar color="primary" class="flex justify-between">
    <div class="flex items-center">
      <button (click)="sidenav.open()" mat-icon-button aria-label="menu icon">
        <mat-icon
          aria-hidden="false"
          aria-label="Light mode icon"
          fontIcon="menu"
        ></mat-icon>
      </button>
      <span class="hidden sm:block"> CoursesApp </span>
      <span class="block sm:hidden"> CA </span>
    </div>
    <div>
      <a mat-icon-button routerLink="home">
        <mat-icon>home</mat-icon>
      </a>
      <a mat-icon-button routerLink="/dashboard/profile">
        <mat-icon>account_circle</mat-icon>
      </a>
      <button (click)="logOut()" mat-icon-button aria-label="logout icon">
        <mat-icon
          aria-hidden="false"
          aria-label="Logout icon"
          fontIcon="logout"
        ></mat-icon>
      </button>
      <app-theme-toggle></app-theme-toggle>
    </div>
  </mat-toolbar>
</header>
