<header>
  <mat-toolbar color="primary" class="flex justify-between">
    <div class="flex items-center">
      <button (click)="sidenav.open()" mat-icon-button aria-label="menu icon">
        <mat-icon
          aria-hidden="false"
          aria-label="Light mode icon"
          fontIcon="menu"
        ></mat-icon>
      </button>
      <span class="font-normal" *ngIf="user | async">
        Hola,
        <span class="font-medium">{{ (user | async)?.first_name }} </span>
      </span>
    </div>
    <div>
      <button
        (click)="authService.logOut()"
        mat-icon-button
        aria-label="logout icon"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Logout icon"
          fontIcon="logout"
        ></mat-icon>
      </button>
      <app-theme-toggle></app-theme-toggle>
    </div>
  </mat-toolbar>
</header>
