<div
  class="sm:bg-primary absolute top-0 left-0 h-screen w-screen overflow-hidden object-cover"
></div>
<div
  class="p-5 sm:p-0 min-h-screen bg-gray-100 flex justify-center items-center"
>
  <div class="container mx-auto flex justify-center">
    <mat-card class="w-80 overflow-hidden">
      <mat-card-header class="pb-4 mb-6 bg-gray-50 flex justify-center">
        <mat-card-title class="text-gray-700 font-normal">
          Registro
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="flex flex-col" [formGroup]="registerForm">
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Correo electrónico</mat-label>
              <input [formControl]="emailControl" type="email" matInput />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="emailControl.getError('required')">
                Correo electrónico es requerido
              </mat-error>
              <mat-error *ngIf="emailControl.getError('email')">
                Correo electrónico tiene que ser válido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Contraseña</mat-label>
              <input
                [formControl]="passwordControl"
                [type]="hide ? 'password' : 'text'"
                matInput
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="passwordControl.getError('required')">
                Contraseña es requerido
              </mat-error>
              <mat-error *ngIf="passwordControl.getError('minlength')">
                Contraseña debe tener 7 o más caracteres
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Nombre</mat-label>
              <input [formControl]="firstNameControl" type="text" matInput />
              <mat-error *ngIf="firstNameControl.getError('required')">
                Nombre es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Apellido</mat-label>
              <input [formControl]="lastNameControl" type="text" matInput />
              <mat-error *ngIf="lastNameControl.getError('required')">
                Apellido es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Dirección</mat-label>
              <input [formControl]="addressControl" type="text" matInput />
              <mat-error *ngIf="addressControl.getError('required')">
                Dirección es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Número de teléfono</mat-label>
              <input [formControl]="phoneControl" type="tel" matInput />
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="phoneControl.getError('required')">
                Número de teléfono es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Avatar</mat-label>
              <input [formControl]="avatarControl" type="url" matInput />
              <mat-error *ngIf="avatarControl.getError('required')">
                Avatar es requerido
              </mat-error>
              <mat-error *ngIf="avatarControl.getError('pattern')">
                Avatar tiene que ser una URL de una imagen
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="flex flex-col justify-center">
        <button
          mat-flat-button
          color="primary"
          (click)="register()"
          class="w-full mx-2 mb-5"
        >
          Registrarse
        </button>
        <div *ngIf="error" class="text-red-500">
          <p *ngIf="error?.code === 'auth/invalid-email'">
            Correo electrónico inválido
          </p>
          <p *ngIf="error?.code === 'auth/email-already-in-use'">
            Correo electrónico ya está en uso
          </p>
        </div>
        <div class="flex gap-1">
          <p>¿Ya estás registrado?</p>
          <a routerLink="/auth/login" class="text-primary"> Iniciar sesión </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
